
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b16c7491fa94e9f360acd4bcb9a8fb9b
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
